# Secrets
.env

# LaTeX Compiler
tectonic.exe

# Packaged Skills
*.skill

# Application Outputs
applications/

# LaTeX Temporary Files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Private User Data
data/my_cv.yaml
imports/pmr/
data/profile_picture/profile.jpeg